{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css"/>
        <title>CA Pollution App</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'MarkerCluster.css' %}" />
        <link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}" />
        <script src="{% static 'leaflet.markercluster-src.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" type="text/css"/>
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
        <script type="text/javascript" src="{% static 'main.js' %}"></script> 
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="{% static 'big.js/big.js' %}"></script>
        <script src="https://unpkg.com/@esri/arcgis-rest-request@3.0.0/dist/umd/request.umd.js"></script>
        <script src="https://unpkg.com/@esri/arcgis-rest-auth@3.0.0/dist/umd/auth.umd.js"></script>
        <script src="https://unpkg.com/@esri/arcgis-rest-feature-layer@3.0.0/dist/umd/feature-layer.umd.js"></script>

        
    </head>
  
    <body>

        <header id="header">
          <h1>Cal ToxTrack</h1>
          <button id="myBtn">Welcome Info</button>
        </header>
  
          <!-- The Modal -->
          <div id="myModal" class="modal">
          
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Welcome to Cal ToxTrack </h2>
                {{ now }}
              </div>
              <div class="modal-body">
                <p>This GIS web application relies on publicly available datasets and is meant to help you spatiotemporally explore pollution in California. Historic and current data are available to view through use of the time slider and filtering panel.<br>All data values represent releases into water.</p>
                <p style="text-align: left;"><br><i> Note: Please be aware that this application is under active development and may be intermittently down for service. Features that will be included in future releases:
                <ul style="width: 480px; margin-right:auto; margin-left: auto; text-align: left;">
                  <li>A play button for the time slider for smoother year transitions</li>
                  <li>A "Select/Deselect All" button for the filter sections</li>
                  <li>A filter section for chemicals</li>
                  <li>Additional charts to summarize data</li>
                  <li>Pollution data from additional sources</li>
                </i></ul></p>
              </div>
              <div class="modal-footer">
                <h3>Datasets last updated September 30, 2020.</h3>
              </div>
            </div>
          
          </div>
                <!-- Modal  -->
        <script>
          // Get the modal
          var modal = document.getElementById("myModal");
  
          // Get the button that opens the modal
          var btn = document.getElementById("myBtn");
  
          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];
          
          // When the user loads the page, open the modal 
          onload = function() {
            modal.style.display = "block";
          }
  
          // When the user clicks the button, open the modal 
          btn.onclick = function() {
              modal.style.display = "block";
            }
          
          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }
  
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        </script>
  
        <div id="mapcontainer">
          <div id="map"></div>
        </div>
          <!-- <div id="sidenavopen" class="sidenavbutton" href="javascript:void(0)" onclick="openNav()">&#9776;</div> -->
          <!-- <div id="sidenavclose" class="sidenavbutton closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</div> -->
        <!-- Right Panel   -->
          <div class="sidenavright">
            <div class="together">
              <div class="toc">
                <div>
                <h2>Layers Table of Contents</h2>
                  <p>Water Releases</p>
                  <form id='layername'>
                  <label><input type="checkbox" checked=true value="geojsonLayer" > Toxic Release Inventory</label><br>
                  <label><input type="checkbox" value="test" > Discharge Monitoring Report</label>
                  </form> 
              </div>   
              </div>

            <div class='filter'>
              <div id="sidenav" class="sidenav" style="color: rgb(250, 250, 250);">
                <div id="filterblock">
                  <h2>Pollution Data Attribute Filter</h2>
                <input id="filter" type="text" placeholder="Search..."/>
                  <ul class="level1">
                    <li class="listtitle expander">Industry<span class="ui-icon ui-icon-plus" style="display:inline-block"></span></li>
                      <ul class="level2 condense" class="searchable">
                        <li><input type="checkbox" class="event-type" name="select-all" onClick="toggle(this)" >Select All (On/Off)</input></li>
                        <li><input type="checkbox" class="event-type" name="plastics-and-rubber" value="Plastics and Rubber" checked="true">Plastics and Rubber</input></li>
                        <li><input type="checkbox" class="event-type" name="furniture" value="Furniture"  checked="true">Furniture</input></li>
                        <li><input type="checkbox" class="event-type" name="fabricated-metals" value="Fabricated Metals" checked="true">Fabricated Metals</input></li>
                        <li><input type="checkbox" class="event-type" name="electric-utilities" value="Electric Utilities"  checked="true">Electric Utilities</input></li>
                        <li><input type="checkbox" class="event-type" name="nonmetallic-mineral-product" value="Nonmetallic Mineral Product" checked="true">Nonmetallic Mineral Product</input></li>
                        <li><input type="checkbox" class="event-type" name="textiles" value="Textiles" checked="true">Textiles</input></li>
                        <li><input type="checkbox" class="event-type" name="metal-mining" value="Metal Mining" checked="true">Metal Mining</input></li>
                        <li><input type="checkbox" class="event-type" name="tobacco" value="Tobacco" checked="true">Tobacco</input></li>
                        <li><input type="checkbox" class="event-type" name="machinery" value="Machinery" checked="true">Machinery</input></li>
                        <li><input type="checkbox" class="event-type" name="leather" value="Leather" checked="true">Leather</input></li>
                        <li><input type="checkbox" class="event-type" name="paper" value="Paper" checked="true">Paper</input></li>
                        <li><input type="checkbox" class="event-type" name="publishing" value="Publishing" checked="true">Publishing</input></li>
                        <li><input type="checkbox" class="event-type" name="printing" value="Printing" checked="true">Printing</input></li>
                        <li><input type="checkbox" class="event-type" name="electrical-equipment" value="Electrical Equipment" checked="true">Electrical Equipment</input></li>
                        <li><input type="checkbox" class="event-type" name="chemicals" value="Chemicals" checked="true">Chemicals</input></li>
                        <li><input type="checkbox" class="event-type" name="petroleum-bulk-terminals" value="Petroleum Bulk Terminals" checked="true">Petroleum Bulk Terminals</input></li>
                        <li><input type="checkbox" class="event-type" name="beverages" value="Beverages" checked="true">Beverages</input></li>
                        <li><input type="checkbox" class="event-type" name="hazardous-waste" value="Hazardous Waste" checked="true">Hazardous Waste</input></li>
                        <li><input type="checkbox" class="event-type" name="wood-products" value="Wood Products" checked="true">Wood Products</input></li>
                        <li><input type="checkbox" class="event-type" name="textile-product" value="Textile Product" checked="true">Textile Product</input></li>
                        <li><input type="checkbox" class="event-type" name="petroleum" value="Petroleum" checked="true">Petroluem</input></li>
                        <li><input type="checkbox" class="event-type" name="computers-and-electronic-products" value="Computers and Electronic Products" checked="true">Computers and Electronic Products</input></li>
                        <li><input type="checkbox" class="event-type" name="apparel" value="Apparel" checked="true">Apparel</input></li>
                        <li><input type="checkbox" class="event-type" name="food" value="Food" checked="true">Food</input></li>
                        <li><input type="checkbox" class="event-type" name="chemical-wholesalers" value="Chemical Wholesalers" checked="true">Chemical Wholesalers</input></li>
                        <li><input type="checkbox" class="event-type" name="transportation-equipment" value="Transportation Equipment" checked="true">Transportation Equipment</input></li>
                        <li><input type="checkbox" class="event-type" name="primary-metals" value="Primary Metals" checked="true">Primary Metals</input></input>
                        <li><input type="checkbox" class="event-type" name="miscellaneous-manufacturing" value="Miscellaneous Manufacturing" checked="true">Miscellaneous Manufacturing</input></li>
                        <li><input type="checkbox" class="event-type" name="other" value="Other" checked="true">Other</input></li>
                      </ul>
              </div>           
            </div>
            </div>
          </div>
            <div class="main" class="inputs" id="years">
              <div id="chart_div"></div>
                <input type="range" class="year" min="1987" max="2020" value=2018 id="slider">
                <div id="selector">
                  <div class="SelectBtn"></div>
                  <div id="SelectValue"></div>
                </div>
          </div>
          
          </div>
        <!-- Toggle function    -->
        <script>
          function toggle(source) {
            checkboxes = document.getElementsByClassName('event-type');
            for(var i=0, n=checkboxes.length;i<n;i++) {
              checkboxes[i].checked = source.checked;
            }
          }
        </script>
                  
              <script>
  
                var slider = document.getElementById("slider");
                var selector = document.getElementById("selector");
                
                SelectValue.innerHTML = slider.value;
          
                slider.oninput = function() {
                  SelectValue.innerHTML = this.value;
                  selector.style.left = this.value;
                }
              </script>
          
              <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
          
            
              <script>
                // Setup map
                var terrain = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg'),
                    streets =  L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
                      }),
                    satellite = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v11/tiles/{z}/{x}/{y}?access_token=' + '{{ mapbox }}')
                    dark = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/dark-v10/tiles/{z}/{x}/{y}?access_token=' + '{{ mapbox }}')
                    ;
                  
                var baseMaps = {
                    "Dark": dark,
                    "Satellite": satellite,
                    "Terrain": terrain,
                    "Streets": streets,
                  };
          
                var myMap = L.map('map', {
                  center: [37.01907305286242, -118.61962890625001],
                  zoom: 4,
                  minZoom: 6,
                  maxZoom: 17,
                  layers: [terrain, streets, satellite, dark]
                  });

                  L.Control.geocoder({
                    defaultMarkGeocode: true,
                    collapsed: false,
                    placeholder: "Search for Location",
                    showResultIcons: false,
                  }).addTo(myMap);

                  L.control.layers(baseMaps,null, {collapsed: false, position: 'bottomleft'}).addTo(myMap);
  
                  function getPixel(p) {
                  return p > 1000 ? 5:
                         p > 800 ? 4: 
                         p > 400 ? 3: 
                         p > 200 ? 2:
                                  1;
                        }
              </script>
              
  
              
  
              <script>
  
                // Get initial checkbox states from HTML
                var checkboxStates;
                function updateCheckboxStates() {
                  checkboxStates = {
                    years: [],
                    eventTypes: []
                  }
                  for (let input of document.querySelectorAll('.event-type')) {
                    if(input.checked) {
                      switch (input.className) {
                        case 'event-type': checkboxStates.eventTypes.push(input.value); break
                      }
                    }
                  }
                  for (let input of document.querySelectorAll('input')) {
                    if (input.className === "year") {
                      checkboxStates.years.push(input.value);
                    }
                  }
                }
                updateCheckboxStates();
          
                // Define symbology variation functions
                function getSize(r) {
                  return r > 1000 ? 16:
                         r > 800 ? 10: 
                         r > 400 ? 8: 
                         r > 200 ? 5:
                                  2;
                }
  
  
                function getOpacity(o) {
                  return o > 1000 ? 0.4:
                         o > 800 ? 0.4: 
                         o > 400 ? 0.4: 
                         o > 200 ? 0.4:
                                  0.4;
                }
          

                var trimarkers = L.markerClusterGroup({
                zoomToBoundsOnClick: false
                });

              // Define geojson layer (without any data yet)
              var geojsonLayer = L.geoJson(null, {
                filter: function(feature) {
                  var isYearChecked = checkboxStates.years.includes(feature.properties.year.substr(0,4));
                  var isEventTypeChecked = checkboxStates.eventTypes.includes(feature.properties.industry);
                  return isYearChecked && isEventTypeChecked;  
                },
                onEachFeature: function(feature, layer) {
                  if (feature.properties) {
                    var year = feature.properties.year.substr(0, 4);
                    var pollutant = feature.properties.pollutant;
                    var cas_id = feature.properties.cas_id;
                    var release = new Big(feature.properties.release).toPrecision(5);
                    var unit = feature.properties.unit;
                    var facility = feature.properties.f__f_name;
                    var facility_id = feature.properties.f__f_id;
                    var industry = feature.properties.industry;
                    var facility_address = feature.properties.f__address;
                    var facility_city = feature.properties.f__city;
                    var facility_county = feature.properties.f__county;
                    var facility_st = feature.properties.f__st;
                    var facility_zip = feature.properties.f__zip;
                    var federal = feature.properties.f__federal;
                    var coords = feature.geometry.coordinates;
                    var trimarker = L.marker(new L.LatLng(coords[1], coords[0]));
                    trimarker.bindPopup("<div class='popuptitle'>TRI RELEASE</div><br>" + 
                      "<div class='popuptitle'>YEAR: </div><div class='popupdata'>" + year + 
                        "</div><div class='popuptitle'>POLLUTANT: </div><div class='popupdata'>" + pollutant + 
                        "</div><div class='popuptitle'>CAS ID: </div><div class='popupdata'>" + cas_id + 
                        "</div><div class='popuptitle'>RELEASE:</div><div class='popupdata'>" + release + " " + unit + 
                        "</div><div class='popuptitle'>FACILITY:</div><div class='popupdata'>" + facility + 
                        "</div><div class='popuptitle'>INDUSTRY:</div><div class='popupdata'>" + industry + 
                        "</div><div class='popuptitle'>FACILITY ID:</div><div class='popupdata'>" + facility_id + 
                        "</div><div class='popuptitle'>ADDRESS:</div><div class='popupdata'>" + facility_address + ", " + facility_city + ", " + facility_city + ", " + facility_zip + " " + facility_st + 
                        "</div><div class='popuptitle'>FEDERAL:</div><div class='popupdata'>" + federal + "</div><br>" + "<div class='popuptitle'>Data last downloaded from <a href='https://www.epa.gov/enviro/tri-search' target='_blank'>source</a> on 09/30/2020.</div>", 
                          //  { maxWidth: 500, 
                            {maxHeight: 200, 
                            autoPan: true, 
                            closeButton: true, 
                            closeOnClick: false,
                            autoClose: false,
                      });
                      trimarkers.addLayer(trimarker);
                }
              },
                // pointToLayer: function (feature, latlng) {
                //   var geojsonMarkerOptions = {
                //   radius: getSize(Big(feature.properties.release).toPrecision(5)),
                //   fillColor: "rgb(32, 32, 124)",
                //   color: "#000",
                //   weight: 1,
                //   opacity: 1,
                //   fillOpacity: getOpacity(Big(feature.properties.release).toPrecision(5)), 
                //   };
                //   return L.circleMarker(latlng, geojsonMarkerOptions);
                // }
              });

                // DMR data
                var dmrGeojsonLayer = L.geoJson(null, {
                  filter: function(feature) {
                    var isYearChecked = checkboxStates.years.includes(feature.properties.year.substr(0,4));
                    // var isEventTypeChecked = checkboxStates.eventTypes.includes(feature.properties.industry);
                    return isYearChecked;  
                  },
                  onEachFeature: function(feature, layer) {
                    if (feature.properties) {
                      var year = feature.properties.year.substr(0, 4);
                      var pollutant = feature.properties.pollutant;
                      var cas_id = feature.properties.cas_id;
                      var release = feature.properties.total_lbs;
                      var twpe = feature.properties.twpe;
                      var dfr_link = feature.properties.dfr_link;
                      layer.bindPopup("<div class='popuptitle'>DMR RELEASE</div><br>" + 
                        "<div class='popuptitle'>YEAR: </div><div class='popupdata'>" + year + 
                          "</div><div class='popuptitle'>POLLUTANT: </div><div class='popupdata'>" + pollutant + 
                          "</div><div class='popuptitle'>CAS ID: </div><div class='popupdata'>" + cas_id + 
                          "</div><div class='popuptitle'>RELEASE:</div><div class='popupdata'>" + release + " lbs" + 
                          "</div><div class='popuptitle'>TWPE:</div><div class='popupdata'>" + twpe + 
                           "</div><div class='popuptitle'>DATA SOURCE: </div><div class='popupdata'>" + "<a href=" + dfr_link+ "target='_blank>" + 'Link to DMR page' +"</a>", 
                            //  { maxWidth: 500, 
                              {maxHeight: 200, 
                              autoPan: true, 
                              closeButton: true, 
                              closeOnClick: true,
                        });
                  }
                },
                  pointToLayer: function (feature, latlng) {
                    var geojsonMarkerOptions = {
                    // radius: getSize(release),
                    fillColor: "pink",
                    color: "#000",
                    weight: 1,
                    opacity: 1,
                    // fillOpacity: getOpacity(Big(feature.properties.release).toPrecision(5)), 
                    };
                    return L.circleMarker(latlng, geojsonMarkerOptions);
                  }
                }).addTo(myMap);


                var myStyle = {
                    "color": "#ff7800",
                    "weight": 2,
                    "opacity": 0.65
                };

                var populationLayer = L.geoJson(null, {
                  onEachFeature:  function(feature, layer) {
                    layer.bindPopup("<div style='font-weight: bold'>2021 ACS TOTAL POPULATION ESTIMATE: </div>" + feature.properties.B01001_001E + " people</br>" +
                        "NAME: " + feature.properties.NAME,
                        {maxHeight: 200, autoPan: true, closeButton: true, closeOnClick: true,});
                  },
                  style: myStyle
                }).addTo(myMap);

                var popJSON;
                  
                  
                const apiKey = '{{ esri }}'
                const authentication = new arcgisRest.ApiKey({
                  key: apiKey
                });
              
                arcgisRest.queryFeatures({
                url: "https://services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/ACS_Total_Population_Boundaries/FeatureServer/1",
                where: "State LIKE 'California'",
                f: "geojson",
                authentication
                })
                  .then(response => {
                    popJSON = response.features;
                    console.log(popJSON);
                    populationLayer.addData(popJSON);
                    document.getElementById("result").textContent = JSON.stringify(response.features, null, 2);
                  
                  });
          
                // Get JSON from web request
                // $.getJSON('https://localhost:8000/ca_pollution/api/tri_releases/', function(json) {
                  // Update geojson layer with data
                  // console.log(json);
                  // geojsonLayer.addData(json); 
  
  
                // Get JSON from your test file
                $.getJSON("static/tri_data.json", function(json) {
                // Update geojson layer with data
                  console.log(json);
                  geojsonLayer.addData(json); 
          
                  // Listen to 'change' event of all inputs
                  for (let input of document.querySelectorAll('input')) {
                    input.onchange = (e) => {
                      // geojsonLayer.clearLayers()
                      trimarkers.clearLayers();
                      //trimarkers.addData(json)
                      updateCheckboxStates();
                      geojsonLayer.addData(json);
                      // trimarkers.addLayer(trimarker);
                      console.log(checkboxStates.years);
                      drawChart();  
                      myMap.addLayer(trimarkers)
                    }
                  }

                  for (let input of document.getElementById("layername").elements) {
                    input.onchange = (e) => {
                      if (input.checked) {
                        trimarkers.clearLayers();
                        updateCheckboxStates();
                        geojsonLayer.addData(json);
                        myMap.addLayer(trimarkers);
                      } else {
                        trimarkers.clearLayers();
                      }
                    }
                  }
                });

                $.getJSON("static/dmr_data.json", function(json) {
                // Update geojson layer with data
                  console.log(json);
                  dmrGeojsonLayer.addData(json); 
                  
                  // Listen to 'change' event of all inputs                 
                  document.getElementById('slider').oninput = (e) => {
                      console.log("DMR CHANGE");
                      dmrGeojsonLayer.clearLayers()
                      updateCheckboxStates();
                      dmrGeojsonLayer.addData(json);
                      console.log(checkboxStates.years);
                      SelectValue.innerHTML = slider.value;
                      console.log(checkboxStates.years);
                      SelectValue.innerHTML = checkboxStates.years;
                      selector.style.left = checkboxStates.year;  
                    }
                  }
                );

              // Use jQuery to listen for Table of Contents event changes to add/remove layers
              $( '#layerswitch input[type=checkbox]' ).click(function( event ) {
                  layerClicked = window[event.target.value];
                  console.log(layerClicked);
                  if (myMap.hasLayer(layerClicked)) {
                    console.log(layerClicked);
                    myMap.removeLayer(layerClicked);
                  }
                  else{
                    console.log("added!");
                    myMap.addLayer(layerClicked);
                  };
                });
  
  
              // Legend Control
              
              var legend = new L.Control({position: 'bottomright'});
              legend.onAdd = function (map) {
              
                var div = L.DomUtil.create('div', 'info legend'),
                    grades = [0, 200, 400, 800, 1000],
                    labels = [];
              
                for (var i = 0; i < grades.length; i++) {
                  div.innerHTML +=
                  '<i class="fas fa-circle fa-' + getPixel(grades[i] + 1) +'x" style="color: rgb(32, 32, 124);"></i> ' +
                  grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + " lbs"+ '<br>' + '<br>' + '<br>' : '+');
                }
                return div;
                }
                legend.addTo(myMap);
  

            myMap.addLayer(trimarkers);

  
            L.control.scale({imperial: true, metric: false, position: "topleft"}).addTo(myMap);
            
      </script>
  <!-- style="color: #f111; font-size:' + getSize(grades[i] + 1) + '" -->
  <script src="https://kit.fontawesome.com/1448dc8b97.js" crossorigin="anonymous"></script>
  
  <script type="text/javascript">
    // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart', 'bar']});
  
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var jsonData = $.ajax({
          url: "static/tri_data.json",
          dataType: "json",
          //async: false,
          success: function (jsonData){
            console.log(jsonData);
            var x = new Array();
            var y = new Array(); 
            for (var i=0; i < jsonData.features.length; i++) {
              if (x.includes(jsonData.features[i].properties["industry"]) === !true) {
                x.push(jsonData.features[i].properties["industry"]);
              }
            }
            for (var i=0; i < x.length; i++) {
              y.push(0);
            }
            for (var i=0; i < x.length; i++) {
              for (var j=0; j < jsonData.features.length; j++) {
                if (jsonData.features[j].properties["industry"] === x[i] && jsonData.features[j].properties["year"].substr(0,4) === checkboxStates.years[0]) {
                  y[i] += parseFloat(jsonData.features[i].properties["release"])
                }
              }
            }
          
            console.log(x);
            console.log(y);
            var data = new google.visualization.DataTable();  
            data.addColumn('string', 'industry');
            data.addColumn('number', 'release');
            console.log(jsonData.features.length);
            console.log(checkboxStates.years[0]);
            for (var i=0; i < x.length; i++) {
              if (y[i] > 0 ) {
                data.addRow([x[i], y[i]]);
              } 
            }
            console.log(data);
          
            var options = {
              title: 'TRI Releases '+ checkboxStates.years[0],
              height: 300,
              chartArea: {width: '50%', height: '70%'},
              legend: { position: 'none' },
              bars: 'horizontal', // Required for Material Bar Charts.
              hAxis: { 
                title: 'Lbs.', 
                minValue: 0, 
                scaleType: 'log', 
                textStyle: { fontSize: 9 },           
                  },
              vAxis: {
                title: 'Industry', 
                textStyle: { fontSize: 8 },
                },
              bar: { groupWidth: "90%" },
              colors: ['mediumpurple'],

                          
              };
              console.log(data);
              var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
              chart.draw(data, options);
            }
        });
      }
       
    
    </script>

  </body>
</html>